@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --font-family: "Manrope", sans-serif;
  --color1: rgba(255, 255, 255, 1);
  --color2: rgba(245, 245, 245, 0.5);
  --color3: rgba(173, 24, 24, 1);
  --color4: rgba(18, 18, 18, 1);
  --color5: rgba(18, 18, 18, 0.5);
}

body {
  font-family: var(--font-family);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 10px;
}

.content {
  padding-bottom: 150px;
}

.title {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: var(--color4);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: var(--color1);
}

.button {
  width: 100%;
  height: 153px;
  background: var(--color3);
  color: var(--color1);
  border-radius: 5px;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.03em;
}

.button:hover {
  background-color: transparent;
  border: 1px solid var(--color3);
  color: var(--color3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.value {
  display: inline-block;
  background: var(--color3);
  color: var(--color1);
  border-radius: 5px;
  font-size: 20px;
  line-height: 30px;
  padding: 5px 22px;
}

.text {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.logo {
  max-width: 22px;
  margin-bottom: 15px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 0;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.header__item:not(:last-child) {
  margin-right: 60px;
}
.header__link {
  position: relative;
  color: var(--color4);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__link:hover {
  color: var(--color5);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color5);
}

.burger-menu {
  display: none;
}

.main__content {
  padding-top: 37px;
}
.main__title {
  display: block;
  max-width: 956px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: var(--color4);
  margin-bottom: 30px;
}
.main__img-wrapper {
  position: relative;
}
.main__img {
  display: block;
}
.main__descr {
  position: absolute;
  max-width: 430px;
  font-size: 20px;
  line-height: 27px;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: var(--color1);
}

.about__text {
  max-width: 1051px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: var(--color4);
  margin-bottom: 30px;
}
.about__button {
  width: 255px;
  height: 67px;
  font-size: 20px;
  line-height: 27px;
}

.project__list {
  margin-bottom: 90px;
}
.project__img {
  margin-bottom: 15px;
}
.project__subtitle {
  color: var(--color4);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.project__more {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: var(--color3);
}
.project__button {
  background-color: transparent;
  border: 1px solid var(--color3);
  color: var(--color3);
}
.project__button:hover {
  background: var(--color3);
  color: var(--color1);
}

.section__service {
  background-color: var(--color4);
}

.service__content {
  padding-top: 150px;
}
.service__title {
  color: var(--color1);
}
.service__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 11px;
}
.service__list {
  position: relative;
}
.service__value {
  position: absolute;
  top: 30px;
  left: 30px;
}
.service__img {
  margin-bottom: 25px;
}
.service__subtitle {
  margin-bottom: 85px;
}
.service__button:hover {
  background-color: var(--color1);
}

.form__popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color5);
  z-index: 9999;
}

.form__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 777px;
  padding: 20px;
  background-color: var(--color1);
  border-radius: 5px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.form__title {
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: var(--color4);
  margin-top: 94px;
  margin-bottom: 4px;
}

.form__subtitle {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: var(--color4);
  margin-bottom: 60px;
}

.form__container input[type=text],
.form__container input[type=email],
.form__container input[type=tel],
.form__container textarea {
  width: 100%;
  max-width: 80%;
  padding: 10px;
  margin: 5px auto 10px;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.03em;
  color: var(--color5);
  border: none;
  border-bottom: 1px solid var(--color5);
}

.form__container input[type=text]:focus,
.form__container input[type=email]:focus,
.form__container input[type=tel]:focus,
.form__container textarea:focus {
  background-color: var(--color2);
  outline: none;
}

.form__container .btn {
  background-color: var(--color3);
  color: white;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.form__container .btn:hover {
  background-color: transparent;
  border: 1px solid var(--color3);
  color: var(--color3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form__button {
  display: block;
  margin-top: 80px;
  margin-bottom: 112px;
}

.close-icon {
  position: absolute;
  top: 32px;
  right: 34px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.review__content {
  margin-top: 150px;
}
.review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review__list:not(:last-child) {
  max-width: calc(50% - 50px);
  margin-bottom: 50px;
}
.review__list:last-child {
  max-width: 70%;
}
.review__subtitle {
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: var(--color4);
}
.review__text-second {
  margin-top: 20px;
}

.contact__content {
  margin-top: 150px;
  margin-bottom: 150px;
}
.contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 990px;
}
.contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__phone-link {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: var(--color4);
}
.contact__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__mail-link {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: var(--color5);
  border-bottom: 1px solid var(--color5);
}

.footer {
  background-color: var(--color4);
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 33px 0;
}
.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__item {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding-bottom: 87px;
}
.footer__item:not(:last-child) {
  margin-right: 55px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__link {
  position: relative;
  color: var(--color1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__link:hover {
  color: var(--color2);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color2);
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 27px;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: var(--color1);
  opacity: 0.5;
}