@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
	box-sizing: border-box;
}
*::before {
	box-sizing: border-box;
}
*::after {
	box-sizing: border-box;
}
:root {
	--font-family: "Manrope", sans-serif;
	--color1: rgba(255, 255, 255, 1);
	--color2: rgba(245, 245, 245, 1);
	--color3: rgba(173, 24, 24, 1);
	--color4: rgba(18, 18, 18, 1);
	--color5: rgba(0, 0, 0, 0.5);
}

body {
	font-family: var(--font-family);
	//overflow: hidden;
	//background-color: var(--color2);
}
img {
	max-width: 100%;
}

.container {
	max-width: 1175px;
	margin: 0 auto;
	padding: 0 15px;
	//border: 1px solid #5309e8;
}

.header {
	&__main {
	}
	&__logo {
	}
	&__navigation {
	}
	&__navigation-list {
	}
	&__navigation-item {
	}
	&__navigation-item:not(:last-child) {
	}
	&__navigation-link {
	}
	&__navigation-link:hover {
	}
}

.navigation {
	display: flex;
	align-items: center;
}
.navigation-list {
	display: flex;
}
.navigation-item {
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}
.navigation-item:not(:last-child) {
	margin-right: 60px;
}

.navigation-link {
	position: relative;
	color: var(--color4);
	//transition: 1s;
}

.header-link:hover {
	color: var(--color5);
	padding-bottom: 2px;
	border-bottom: 1px solid var(--color5);
}

.burger-menu {
	display: none;
}
.burger-button {
}
.section {
	&__main {
	}
	&__content {
		//max-width: 1150px;
		//margin-bottom: 150px;
		padding-bottom: 150px;
	}
	&__title {
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.03em;
		color: var(--color4);
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	&__img {
		margin-bottom: 15px;
	}
	&__descr {
	}
	&__about {
	}
	&__text {
		margin-bottom: 30px;
	}
	&__button {
		width: 100%;
		height: 153px;
		background: #ad1818;
		border-radius: 5px;
		font-size: 30px;
		line-height: 41px;
		text-align: center;
		letter-spacing: -0.03em;
		color: var(--color1);
	}
	&__button:hover {
		background-color: transparent;
		border: 1px solid var(--color3);
		color: var(--color3);
		transition: 0.5s;
	}

	&__project {
	}
	&__subtitle {
		font-size: 30px;
		line-height: 41px;
		letter-spacing: -0.03em;
		color: var(--color1);
		margin-bottom: 15px;
	}
	&__more {
		font-size: 20px;
		line-height: 27px;
		letter-spacing: -0.03em;
		color: var(--color3);
	}
	&__block {
		padding-bottom: 90px;
	}

	&__service {
		background-color: var(--color4);
	}
	&__wrapper {
		//border: 1px solid #ff0303;
	}
	&__value {
		min-width: 163px;
		height: 40px;
		background: #ad1818;
		border-radius: 5px;
		font-size: 20px;
		line-height: 30px;
		color: var(--color1);
		padding: 5px 22px;
	}
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 33px 0;
	margin-bottom: 0;
}
.main-content {
	position: relative;
}
.main-title {
	padding-top: 37px;
	//padding-bottom: 30px;
	max-width: 956px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -0.03em;
	color: var(--color4);
}
.main-img {
	display: block;
	position: relative;
}
.main-subtitle {
	position: absolute;
	max-width: 430px;
	font-size: 20px;
	line-height: 27px;
	bottom: 190px;
	left: 40px;
}
.about-content {
}
.about-title {
}
.about-text {
	max-width: 1048px;
	font-size: 45px;
	line-height: 61px;
	letter-spacing: -0.03em;
	color: var(--color4);
}
.about-button {
	width: 255px;
	height: 67px;
	font-size: 20px;
	line-height: 27px;
}

.project-content {
}
.project-title {
}
.project-img {
}
.project-subtitle {
	font-size: 30px;
	line-height: 41px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	color: var(--color4);
}
.project-block {
	padding-bottom: 90px;
}
.project-button {
	//margin-bottom: 196px;
	background-color: transparent;
	color: var(--color3);
	border: 1px solid var(--color3);
	//transition: 2s;
}

.project-button:hover {
	background-color: var(--color3);
	color: var(--color1);
	transition: 1s;
}

.service-flexbox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 106px;
	gap: 10px;
}
.service-title {
	color: var(--color1);
	padding-top: 150px;
}
.service-wrapper {
	position: relative;
	flex: 0 1 49%;
}
.service-value {
	position: absolute;
	display: inline-block;
	z-index: 1;
	//display: none;
	top: 30px;
	left: 30px;
}
.service-img {
	margin-bottom: 25px;
}
.srvice-subtitle {
	margin-bottom: 45px;
}
.srvice-subtitle span {
	display: inline-block;
	width: 244px;
}

.container {
}

.reviews-content {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.review-content {
	padding-top: 120px;
}
.reviews-block {
}

.reviews-block:not(:last-child) {
	flex: 0 1 48%;
}

.reviews-subtitle {
	font-size: 45px;
	line-height: 61px;
	letter-spacing: -0.03em;
	color: var(--color4);
	text-transform: none;
}
.reviews-text {
	font-size: 22px;
	line-height: 30px;
	letter-spacing: -0.03em;
}

.gallery {
  position: relative;
}

.gallery__title-wrapper {
  position: absolute;
  z-index: 1;
  top: 60px;
  width: 100%;
}
.gallery__title {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}
.gallery__text-wrapper{
	display: none;
}
.gallery__slide{
	//border: 1px solid #000;
}

.gallery__img{
	width: 100%;
	object-fit: cover;
}
.hidden{
	display: none;
}







.section {
	&__contact {
	}
	&__content {
	}
	&__title {
	}
}

.contact-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 150px;
}
.contact-phone {
	display: flex;
	flex-direction: column;
}
.contact-title {
}
.phone-contact {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -0.03em;
	color: var(--color4);
}
.phone-logo {
	max-width: 24px;
	padding-bottom: 24px;
}
.contact-mail {
	display: flex;
	flex-direction: column;
}
.mail-contact {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -0.03em;
	color: var(--color4);
	opacity: 0.5;
}
.mail-title {
	opacity: 0;
}
.mail-logo {
	max-width: 24px;
	padding-bottom: 24px;
}

.footer {
	background-color: var(--color4);
}
.footer-content {
	text-align: center;
}
.footer-navigation {
	display: flex;
	align-items: center;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	//border: 3px solid rgb(255, 1, 1);
}
.footer-list {
	display: flex;
	//border: 3px solid rgb(255, 1, 1);
	margin: 0 auto;
}
.footer-item {
}
.footer-link {
	color: var(--color1);
}
.footer-copyright {
	padding-bottom: 27px;
	padding-bottom: 30px;
	font-size: 20px;
	line-height: 27px;
	letter-spacing: -0.03em;
	color: var(--color1);
	opacity: 0.5;
}

@media (max-width: 960px) {
	.main-title {
		font-size: 50px;
	}
	.about-text {
		font-size: 35px;
		line-height: 48px;
	}
	.project-subtitle {
		font-size: 25px;
		line-height: 34px;
	}
	.about-content {
		padding-bottom: 120px;
	}
	.project-more:last-child {
		padding-bottom: 102px;
	}
	.project-content {
		padding-bottom: 103px;
	}
	.service-content {
		padding-bottom: 120px;
	}
	.service-flexbox {
		padding-bottom: 80px;
	}
	.srvice-subtitle {
		font-size: 25px;
		line-height: 34px;
	}
	.review-content {
		padding-top: 120px;
	}
	.reviews-subtitle {
		font-size: 35px;
		line-height: 48px;
	}

	.contact-content {
		padding-top: 120px;
		padding-bottom: 80px;
	}
	.phone-contact {
		font-size: 45px;
		line-height: 60px;
	}
	.mail-contact {
		font-size: 45px;
		line-height: 60px;
	}
}
@media (max-width: 950px) {
	.service-wrapper {
		flex: 1 1 100%;
	}
	.service-img {
		width: 100%;
	}
}

@media (max-width: 779px) {
	.reviews-block:not(:last-child) {
		flex: 1 1 48%;
	}
}

@media (max-width: 768px) {
	.main-subtitle {
		bottom: 90px;
	}
	.main-title {
		font-size: 40px;
	}
	.about-text {
		font-size: 30px;
		line-height: 38px;
	}
	.section__content {
		padding-bottom: 60px;
	}
	.service-title {
		padding-top: 50px;
	}
	.review-content {
		padding-top: 50px;
	}
}

@media (max-width: 576px) {
	img {
		width: 130%;
	}
}
@media (max-width: 500px) {
	.metica-logo {
		width: 75%;
	}
	.main-title {
		font-size: 30px;
		line-height: 32px;
	}
	.main-subtitle {
		font-size: 16px;
		line-height: 22px;
		bottom: 60px;
		left: 25px;
	}
	.about-text {
		font-size: 20px;
		line-height: 30px;
	}
	.about-button {
		width: 194px;
		height: 51px;
		font-size: 20px;
		line-height: 27px;
	}
	.project-subtitle {
		font-size: 18px;
		line-height: 25px;
	}

	.reviews-subtitle {
		font-size: 25px;
		line-height: 34px;
	}
	.reviews-text {
		font-size: 16px;
		line-height: 22px;
	}
	.phone-contact {
		font-size: 35px;
		line-height: 46px;
	}
	.mail-contact {
		font-size: 35px;
		line-height: 46px;
	}
	.navigation-item {
		font-size: 12px;
		line-height: 16px;
	}
	.navigation-item:not(:last-child) {
		margin-right: 30px;
	}
	.footer-copyright {
		font-size: 13px;
		line-height: 18px;
	}
	.service__value {
		height: 30px;
		font-size: 14px;
		line-height: 19px;
		padding: 5px 12px;
	}
}

@media (max-width: 375px) {
	.header-navigation {
		display: none;
	}
	.metica-logo {
		width: 75%;
	}
	.main-title {
		font-size: 30px;
		line-height: 32px;
	}
	.main-subtitle {
		font-size: 16px;
		line-height: 22px;
		bottom: 60px;
		left: 25px;
	}

	.about-text {
		font-size: 20px;
		line-height: 30px;
	}
	.about-button {
		width: 194px;
		height: 51px;
		font-size: 16px;
		line-height: 22px;
	}
	.project-subtitle {
		font-size: 18px;
		line-height: 25px;
	}
	.service__value {
		font-size: 14px;
		line-height: 19px;
		padding: 5px 20px;
	}

	.reviews-subtitle {
		font-size: 25px;
		line-height: 34px;
	}
	.reviews-text {
		font-size: 16px;
		line-height: 22px;
	}
	.phone-contact {
		font-size: 35px;
		line-height: 46px;
	}
	.mail-contact {
		font-size: 35px;
		line-height: 46px;
	}
	.navigation-item {
		font-size: 12px;
		line-height: 16px;
	}
	.navigation-item:not(:last-child) {
		margin-right: 30px;
	}
	.footer-copyright {
		font-size: 13px;
		line-height: 18px;
	}
}
